// ============================================
// Biến màu sắc chính
// ============================================

// Màu nền chính
$bg-primary: #ffffff;

// Màu chủ đạo (cho button, card, icon)
$color-primary: #711111;

// Màu text trên nền màu chủ đạo
$text-on-primary: #ffffff;

// Màu text chủ đạo
$text-primary: #000000;
