.layout {
  min-height: 100vh;
  background: var(--background);
}

.content {
  background: var(--background);
  max-width: 100%;
  overflow-x: hidden;
}

.section {
  padding: 80px 0 120px;
  background: var(--background);
  max-width: 100%;
  overflow-x: hidden;
}
