# Sao chép file này thành .env.prod và điền giá trị thật trên VPS

IMAGE_TAG=latest
SERVICE_RESTART=always
NODE_ENV=production

SERVER_PORT=3052
CLIENT_PORT=3000

MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
DB_NAME=pr1as

JWT_SECRET=
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=7d

CORS_ORIGIN=https://yourdomain.com
CORS_METHODS=GET,POST,PUT,DELETE,PATCH
CORS_CREDENTIALS=true
FRONTEND_URL=https://yourdomain.com

NEXT_PUBLIC_API_URL=https://yourdomain.com/api
NEXT_PUBLIC_SOCKET_URL=https://yourdomain.com

GOOGLE_CLIENT_ID=
EMAIL_ACCOUNT=
GOGGLE_APP_PASSWORD=

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
