.layout {
  min-height: 100vh;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--palette-text-primary);
  border-right: 1px solid var(--border-secondary);
}

.logoBlock {
  height: 4rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  &.expanded {
    justify-content: flex-start;
    font-size: 1.125rem;
  }
}

.menu {
  background: var(--palette-text-primary);
  border-right: none;
}

.mainLayout {
  transition: margin-left 0.2s;
  background: var(--background);

  &.collapsed {
    margin-left: 5rem;
  }

  &.expanded {
    margin-left: 15.625rem;
  }
}

.header {
  padding: 0 1.5rem;
  background: var(--ant-color-bg-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-card-warm);
  border-bottom: 1px solid var(--border-secondary);
}

.trigger {
  cursor: pointer;
  font-size: 1.125rem;
}

.headerTitle {
  font-size: 1.125rem;
}

.headerIcon {
  font-size: 1.125rem;
  cursor: pointer;
}

.avatarSpace {
  cursor: pointer;
}

.content {
  margin: 1.5rem 1rem;
  padding: 1.5rem;
  min-height: 17.5rem;
  background: var(--ant-color-bg-container);
  border-radius: var(--radius-card);
}
