.spaceFull {
  width: 100%;
}

.statSuccess {
  color: var(--color-success);
}

.statPrimary {
  color: var(--color-primary);
}

.statRevenue {
  color: #cf1322;
}

.statGrowth {
  color: #3f8600;
}

.quickActionsSpace {
  width: 100%;
}
